body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#conScroll {
    min-height: 200px;
    max-height: 600px;
    border: 6px solid #a4d8f0;
    margin: 15px 0 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.container-fluid {
    padding: 20px;
}

.box {
    margin-bottom: 20px;
    /*float: left;*/
    width: 200px;
    display: inline-block;
}

    .box img {
        max-width: 100%;
    }

#page-nav {
    margin: 0 0 40px 0;
    height: 10px;
    display: none;
}

#infscr-loading {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 45%;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}